.challenge {
    width: 1000px;
    margin: 30px auto;
    display: grid;
    grid-template-rows: repeat(4, 150px);
    grid-template-columns: repeat(4, 150px);
    grid-gap: 30px;
}

.challenge>* {
    background-color: orangered;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}

.header {
    grid-column: 1 / 5;
}

.main-content {
    grid-column: 1 / 4;
}

.sidebar {
    grid-row: 2 / 4;
    grid-column: 4 / 5;
}

.footer {
    grid-column: 1 / -1;
}